<form [formGroup]="formGroup">
  form.valid: {{formGroup.valid}}<br>
  form.value: {{formGroup.value | json}}
  <div class="form-field">
    <label>Input</label>
    <input type="text" formControlName="first">
  </div>
  <div class="form-field">
    <label>Show Sub Form</label>
    <input type="checkbox" formControlName="second">
  </div>
  <!--  <app-sub-form *ngIf="formGroup.controls.second.value"></app-sub-form>-->
  <!--  <app-sub-form *ngIf="formGroup.controls.second.value" name="secondSubForm"></app-sub-form>-->

  <button (click)="add()">add</button>
  <button (click)="deleteLatest()">del</button>

  <app-foo *ngFor="let item of items.controls" [group]="item"></app-foo>
</form>
